/* Home Page header CSS */

.subtitle {
	font-size: 4rem;
	line-height: 3rem;
	letter-spacing: -0.2rem;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;
  }
  
  .section {
	position: relative;
	margin-top: 180px;
	text-align: center;
  }
  
  .section::before,
  .section::after {
	position: absolute;
	display: inline-flex;
	content: "";
	background-size: 700px 700px;
	height: 700px;
	width: 700px;
	z-index: -1;
  }
  
  .section::before {
	top: 40%;
	left: -40%;
	background-image: url("./images/blob-1.svg");
  }
  
  .section::after {
	top: 0;
	right: -40%;
	background-image: url("./images/blob-2.svg");
  }
  
  .artists {
	display: flex;
	justify-content: space-between;
	margin-top: 90px;
	flex-wrap: wrap;
  }/* Page CSS */

.hero {
	width: 120vw;
	height: 500px;
	transform: translateX(calc((-120vw + 1080px) / 2));
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
  }
  
  .description {
	max-width: 600px;
	margin: auto;
  }
  mission-section {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
  }
  
  .mission-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	max-width: 500px;
	margin-left: 30px;
  }
  /* Contact Page CSS */

.company-info {
	margin-top: 60px;
  }
  
  .company-info p,
  .link {
	display: block;
	margin-bottom: 1rem;
  }
  
  .link {
	color: #37ba83;
  }
  
  .socials {
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
  }
  
  .instagram,
  .facebook {
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
	margin-left: 1rem;
	transition: transform 0.3 ease;
  }
  
  .instagram:hover,
  .facebook:hover {
	transform: scale(1.1);
  }
  
  .instagram {
	background-image: url("./images/instagram.svg");
  }
  
  .facebook {
	background-image: url("./images/facebook.svg");
  }
  
  @media screen and (max-width: 1200px) {
	.hero {
	  transform: translateX(-5%);
	}
  }